.edTech_btn_get_started{
    background-color:#289BDE;
    color: white;
    border: none;
    border-radius: 8px;   
    padding: 9px 25px;
}
.edTech_btn_see_more_courses{
    background-color:#289BDE;
    color: white;
    border: none;
    border-radius: 8px;   
    padding: 10px 40px;
}

.edTech_btn_register_now{
    color: #289BDE;
    padding: 10px 35px;
    border-radius: 8px;
    border: none;
    background-color: white;

}

.black {
    background-color: black;
    width: 100%;
    padding: 30px 60px;
    margin: 200px 0px 0px 0px;
    line-height: 100%;
    

}
.black h6 {
    text-align: center;
    color: white;
    font-size: x-small;
}
.black h2 {
    color: white;
    text-align: center;
    margin-top: 2px;
}
.icon{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.icon a{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 5px;
    border-radius: 30px;
    color: white;
    background-color:rgb(54, 53, 53);
}

 